:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #E9ECF8;
}

.main {
    width: 58.75em;
    position: relative;
    top: 15em;
    margin: auto;
    text-align: center;
    display: flex;
}

.inputText::placeholder {
    color: #0A3871;
}

.inputText{
    width: 37.5em;
    height: 26em;
    position: relative;
    align-items: center;
    margin: auto;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-size: 2em;
    font-weight: bold;
    padding: 1px;
    margin-left: 2em;
}

.inputText::before {
    background: none;
    border: none;
    text-decoration: none;
}

.textMessage {
    width: 25em;
    height: 59em;
    border-radius: 1em;
    border: none;
    margin-right: 6em;
    outline: none;
    resize: none;
}

.buttons {
    display: flex;
}

.btn {
    border-radius: 1em;
    width: 20.5em;
    height: 4.063em;
    margin: 2em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.btnEncrypt {
    background-color: #0A3871;
    color: white;
}

.btnEncrypt:hover {
    background-color: #D8DFE8;
    color: #0A3871;
}

.btnDecrypt {
    background-color: #D8DFE8;
    color: white;
}

.btnDecrypt:hover {
    background-color: #0A3871;
    color: #D8DFE8;
}